<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='images/favicon.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

<!--    <link rel="preconnect" href="https://fonts.gstatic.com">-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav>
            <div>
                <i class="fas fa-plane-departure logo"></i>
            </div>

            <div class="user">
                <a class="username" href="{{ url_for('user') }}">{{ user[1] }}</a>

                <a class="signout-button" href="{{ url_for('logout') }}">Sign Out</a>
            </div>
        </nav>
    </header>
    <main>
        <form method="post">
            <div class="top-line"></div>

            <div class="checkboxes">
                <label>
                    <input type="radio" name="direction" value="one way" checked="checked">
                    <p>One way</p>
                </label>
                  
                <label>
                    <input type="radio" name="direction" value="roundtrip">
                    <p>Round trip</p>                  
                </label>
            </div>

            <div class="from-to">
                <label>
                    <p>From:</p>
                    <input type="text" name="from">
                </label>
                <label>
                    <p>To:</p>
                    <input type="text" name="to">
                </label>
            </div>

            <div class="date">
                <p>Date:</p>
                <input type="date" name="date">
            </div>

            <div class="bottom">
                <div class="traveler">
                    <p>Passengers:</p>
                    <input type="number" name="passengers" value="1">
                </div>

                <input type="submit" value="Search">
            </div>
        </form>

        <!-- all the flights searched will be displayed here -->
        <div class="container">
            {% with messages = get_flashed_messages() %}
				{% if messages %}
					{% for msg in messages %}
						<p class="msg-home">{{ msg }}</p>
					{% endfor %}
				{% endif %}
			{% endwith %}

            {% for flight in f %}
                <div class="flight">
                    <i class="fas fa-plane-departure logo-small"></i>

                    <i id="remove" class="far fa-times-circle"></i>

                    <h2>{{ flight[2] }} - {{ flight[3] }} ( {{ flight[1] }} )</h2>

                    <p><span>Date:</span> {{ flight[4] }}</p>
                    <p><span>Seats available:</span> {{ flight[5] }}</p>
                    <p><span>Price:</span> {{ flight[6] }}</p>
                    
                    <a class="book" href="{{ url_for('reservation', id=flight[0]) }}">Book a flight</a>

                </div>
            {% endfor %}
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>